@inherits LayoutComponentBase

<title>DryPro Inventory</title>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary">
        <MudText Typo="Typo.h4">DryPro Inventory</MudText>
    </MudAppBar>
    <MudMainContent class="mt-4">
        @Body
    </MudMainContent>
</MudLayout>